<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>weconnect</title>
  <link rel="stylesheet" href="/styles/style.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body class="w-screen bg-slate-100 h-screen flex flex-col items-center justify-center">
  <div class="flex w-fit bg-white justify-center items-center lg:m-20 rounded-md lg:shadow-2xl xl:w-3/5">
    <!--leftside-->
    <div class="hidden lg:flex">
      <img class="w-72 ps-10" src="/images/student-login.webp" alt="login-image" />
    </div>
    <!--rightside-->
    <div class="px-5 sm:px-20 py-10 text-center flex flex-col items-center">
      <img class="w-56 my-5 flex justify-center" src="/images/LOGO1.png" alt="logo-alt" />
      <div class="text-black font-semibold my-3">Sign up to your account</div>
      <div>
        <form action="/signup" method="post">
          <!--user input-->
          <div>
          <input type="text" placeholder="Your Full Name" name="name" class="border-2 w-full px-3 py-2 my-2 outline-none" />
        </div>
          <!--email input-->
          <div class="w-full">
          <input id="email-input" <% if(errors && errors.email || alreadyexists!== "") {%> class="border-2 w-full px-3 py-2 my-2 outline-none border-red-500" 
           <% }else{ %> class="border-2 w-full px-3 py-2 my-2outline-none" <% } %> placeholder="Email Address" type="text" name="email" />
        </div>
          <% if(errors && errors.email) { %>
          <div id="email-error" class="text-red-500 text-xs text-left">
            <%= errors.email.msg %>
          </div>
          <% } else if(alreadyexists !== "") {%>
          <div class="text-red-500 text-xs text-left"><%= alreadyexists %>
          </div>
          <% } %>

          <!--password-->
          <div id="password-input" <% if(errors && errors.password) { %> class="border-red-500 border-2 w-full px-3 py-2 my-2 flex justify-between" <% }else{ %> class="border-2 w-full px-3  py-2 my-2 flex" <% } %>>
            <input id="password" class="outline-none w-11/12" placeholder="Password" type="password" name="password" />

            <a class="cursor-pointer mr-3" id="password-eye-button" onclick="passwordvisibility()"><span id="eye" class="material-symbols-outlined opacity-50 text-xl">
                visibility_off
              </span></a>
          </div>

          <% if(errors && errors.password) { %>
          <div class="text-xs text-red-500 text-left w-fit">
            The password must contain atleast 8 characters,one <br />
            uppercase, one lowercase, one digit and one special <br />
            character
          </div>
          <% } %>

          <!--confirm password-->

          <div <% if(errors && errors.cpassword) { %> class="border-2 border-red-500 px-3 pr-3 py-2 my-2 flex w-full justify-between" <% }else{ %> class="border-2 w-full px-3 py-2 my-2 flex" <% } %>>
            <input id="cpassword" class="outline-none w-11/12" placeholder="Confirm Password" type="password" name="cpassword" />
            <a class="cursor-pointer" id="cpassword-eye-button" onclick="cpasswordvisibility()"><span id="c-eye" class="material-symbols-outlined opacity-50 text-xl">
                visibility_off
              </span></a>
          </div>

          <% if(errors && errors.cpassword) { %>
          <div class="text-red-500 text-xs text-left">
            <%= errors.cpassword.msg %>
          </div>
          <% } %>

          <button type="submit" class="bg-[#2f60f5] w-full font-semibold text-white rounded-lg py-2 my-5">
            Sign Up
          </button>

          <div class="my-3 text-sm">
            <div class="font-medium">
              Already have an account?<span class="text-[#2f60f5] font-semibold px-1"><a href="/login">Log In</a></span>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script>
      const passwordfield = document.getElementById("password");
      const passwordeye = document.getElementById("password-eye-button");
      const cpasswordfield = document.getElementById("cpassword");
      const cpasswordeye = document.getElementById("cpassword-eye-button");
      const eye = document.getElementById("eye");
      const ceye = document.getElementById("c-eye");

      function passwordvisibility() {
        if (passwordfield.type === "password") {
          passwordfield.type = "text";
          eye.textContent = "visibility";
        } else if (passwordfield.type === "text") {
          passwordfield.type = "password";
          eye.textContent = "visibility_off";
        }
      }

      function cpasswordvisibility() {
        if (cpasswordfield.type === "password") {
          cpasswordfield.type = "text";
          ceye.textContent = "visibility";
        } else if (cpasswordfield.type === "text") {
          cpasswordfield.type = "password";
          ceye.textContent = "visibility_off";
        }
      }

      const email = document.getElementById("email-input");
      const emailerror = document.getElementById("email-error");

      if ((errors && errors.email) || alreadyexists !== "") {
        email.className =
          "border-2 w-full px-5 py-2 my-2 outline-none border-red-500";
        emailerror.className = "text-red-500 text-xs text-left";
        emailerror.textContent = "errors.email.msg";
      } else if (alreadyexists !== "") {
        email.className =
          "border-2 w-full px-5 py-2 my-2 outline-none border-red-500";
        emailerror.className = "text-red-500 text-xs text-left";
        emailerror.textContent = "alreadyexists";
      } else {
        email.className = "border-2 w-full px-5 py-2 my-2 outline-none";
        emailerror.className = "hidden";
      }
    </script>
</body>

</html>