.container1 {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 200px;
  background: transparent;
  border-radius:15px ;
  padding-bottom: 30px;
  width: 600px;
  outline-width: 2px;
  outline-color: #eaeaea;
  outline-style:solid;
}

.form-container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.text {
  color: #d1c8c0;
  font-size: 60px;
  font-weight: 700;
}

.underline {
  width: 61px;
  height: 6px;
  background: #3c009d;
  border-radius: 9px;
}

.inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 40px;
  background: rgb(234, 234, 234);
  border-radius: 3px;
}

.input input {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}

.forgot-password {
  padding-left: 100px;
  margin-top: 27px;
  color: #797979;
  font-size: 18px;
}

.forgot-password span {
  color: #4c00b4;
  cursor: pointer;
}

.submit-container {
  display: flex;
  gap: 30px;
  margin: 60px auto;

}

.submit-container button {
  width:700 px;
  height: 20 px;

}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: #fff;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.gray {
  background: #eaeaea;
  color: #676767;
}
