@charset "utf-8";
/* CSS Reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;	
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
  background: none;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root {
    /* text */
    --fs-text-100: .75rem;
    --fs-text-150: 14px;
    --fs-text-200: 16px;
    --fs-text-250: 18px;
    --fs-text-300: 20px;
    --fs-text-350: 22px;
    /* heading */
    --fs-head-250:72px;
    --fs-head-200:40px;
    --fs-head-150:34px;
    --fs-head-100:20px;
    /* color */
    --clr-primary: hsl(0, 0%, 0%);
    
    
    --clr-neutral-350: hsl(195, 9%, 9%);
    --clr-neutral-300: hsl(192, 5%, 21%);
	--clr-neutral-250: hsl(200, 4%, 44%);
    --clr-neutral-200: hsl(206, 18%, 92%);
	--clr-neutral-150: hsl(210, 20%, 96%);
    --clr-neutral-100: hsl(0, 0%, 100%);
}

/* navigation */
nav{
	display: flex;
	/* justify-content: ; */
}

/* Hero Section */
.hero-description {
	width: 85vh;
}
.hero-title {
	font-size: var(--fs-head-250);
}
.hero-caption{
	font-size: var(--fs-text-200);
}

/* banner section */
#banner > div{
	display: grid;
	grid-template-columns: 34.25em 34.25em;
	grid-template-rows: 20em 20em;
}
.banner-grid-1 {
	background-image: url(../images/banner-3.png);
	background-repeat: no-repeat;
	grid-row: 1 / 3;
}
.banner-grid-2 {
	background-image: url(../images/banner-2.png);
}
.banner-grid-3 {
	background-image: url(../images/banner-1.png);
}
/* Product Slider */
body{
	margin:0px;
	padding: 0px;
	background-color:#eef8ff;
}
a{
	text-decoration:none;
}
.box{
	width:300px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	border-radius: 10px;
	overflow: hidden;
	margin: 25px;
}
.slide-img{
	height: 450px;
	position:relative;
}
.slide-img img{
	width:100%;
	height: 100%;
	object-fit: cover;
	box-sizing: border-box;
}
.detail-box{
	width: 100%;
display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	box-sizing: border-box;
	font-family: calibri;
}
.type{
	display: flex;
	flex-direction: column;
}
.type a{
	color:#222222;
	margin: 5px 0px;
	font-weight: 700;
	letter-spacing: 0.5px;
	padding-right: 8px;
}
.type span{
	color:rgba(26,26,26,0.5);
}
.price{
	color: #333333;
	font-weight: 600;
	font-size: 1.1rem;
	font-family: poppins;
	letter-spacing: 0.5px;
}
.overlay{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width:100%;
	height: 100%;
	background-color: rgba(92,95,236,0.6);
	display: flex;
	justify-content: center;
	align-items: center;
}
.buy-btn{
	width:160px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	color:#252525;
	font-weight: 700;
	letter-spacing: 1px;
	font-family: calibri;
	border-radius: 20px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}
.buy-btn:hover{
	color:#FFFFFF;
	background-color: #f15fa3;
	transition: all ease 0.3s;
}
.overlay{
	visibility: hidden;
}
.slide-img:hover .overlay{
	visibility: visible;
	animation:fade 0.5s;
}
 
@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.slider{
	width:100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}


/* features section */

.features-wrapper {
	display: flex;
	
	justify-content: center;
	gap: 1.5em;
}

.features-wrapper div {
	background-color: var(--clr-neutral-200);
	width: 14.375em;
	height: 10.75em;
	padding: 3rem 2rem;
}