<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/login.css" />
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="/script/login.js"></script>
</html>
