body{
    font-size: 14px;
}
.header {
    position: fixed;
    top: 0; left: 0; 
    background-color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2px 0px;
}

.cntr {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px; 
}

.cntr-li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 5px; 
}

.logo {
    object-fit: contain;
    padding-left: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}

.search > input {
    border: none;
    outline: none;
    width: 36vw;
    padding: 10px 15px;
    border-radius: 5px;
}

.search > .MuiSvgIcon-root {
    color: #7a539a;
    padding: 5px;
}

.search-tab {
    width: 480px;
}

.seller > button {
    margin-left: 90px;
    margin-left: 5px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    width: 15vw;
    background-color: #fff;
    color: #7a539a;
    font-weight:lighter;
    cursor: pointer;
    padding: 5px 15px; 
}

.seller > button :hover {
    
    background-color: #7a539a;
    color: #fff;
    border-radius: 8px;
}


.signin >button {
    margin-left: 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    width: 10vw;
    background-color: #fff;
    color: #7a539a;
    font-weight: lighter;
    cursor: pointer;
    padding: 5px 15px;
}

.signin >button :hover {
    background-color: #7a539a;
    color: #fff;
    border-radius: 8px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 215px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #7a539a33;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .signin>.cntr {
    color: white;
    border-radius: 8px;
    background-color: #7a539a;
}

.cart > button {
    margin-left: 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    width: 9vw;
    background-color: #fff;
    color: #7a539a;
    font-weight: 500;
    cursor: pointer;
    padding: 5px 15px;
}

.cart > button :hover {
    background-color: #7a539a;
    color: #fff;
    border-radius: 8px;
}

.dropd > button {
    margin-left: 0;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #fff;
    color: #7a539a;
    cursor: pointer;
    padding: 9px 15px;
}

.s-c-d {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

