/* styles.css */
.categories {
    background-color: #ffffff;
    width: 84%;
    margin:2% auto 0% auto;
  }
  .cat-cont{
    width: 84%;
    margin: 0% auto;
    padding: 1% 0%;
    display: flex;
    justify-content: space-around;
  }
  .cat-inside{
    text-align: center;
  }
  a{
    text-decoration: none;
  }
  .cat-span {
    font-size: 14px;
    font-weight: 500;
    color: black;
  }
  .posters {
    background-color: #ffffff;
    width: 84%;
    height: 22vh;
    margin:1% auto 0% auto;
    padding:0%;
    display: flex;
    justify-content: space-around;
    aspect-ratio: 2/1;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
  }
  .posters::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .posters::-webkit-scrollbar-thumb {
    background: transparent;
  }
  