.categories {
    background-color: #ffffff;
    width: 84%;
    margin:8vh auto 0vh auto;
  }
  .cat-cont{
    width: 84%;
    margin: 0vh auto;
    padding: 2vh 0;
    display: flex;
    justify-content: space-around;
  }
  .cat-inside{
    text-align: center;
  }
  a{
    text-decoration: none;
  }
  .cat-span {
    font-size: 14px;
    font-weight: 500;
    color: black;
  }
  .posters {
    background-color: #ffffff;
    width: 84%;
    height: 25vh;
    margin: 2vh auto 0 auto;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    aspect-ratio: 2/1;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  .p-img{
    display: flex;
    align-items: center;
    scroll-snap-align: start;
    margin: 0 auto;
    width: 100%;
  }
  .posters::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .posters::-webkit-scrollbar-thumb {
    background: transparent;
  }
  