.signup-container {
    display: flex;
    justify-content: center;
    width: 60vw;
    height: 77vh;
    margin: 10vh auto 0vh auto;
    border-radius: 7px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .signup-left-container{
    width: 30vw;
    height: 77vh;
    border-radius: 7px 0px 0px 7px;
    background-image:url("https://media.giphy.com/media/q0xSEJug2S9IFyGpwa/giphy.gif");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .signup-right-container{
    background-color: #ffffff;
    border-radius: 0px 7px 7px 0px;
    width: 30vw;
    height: 77vh;
  }
  .signup-text{
    font-size: 32px;
    font-weight: 650;
    padding: 0vh 7.5vh;
    color: #000000;
  }
  .signup-label{
    padding: 0vh 7vh 0vh 7.5vh;
  }
  .signup-help1{
    margin-left: 7.5vh;
  }
  .new2signup-lab{
    margin-left: 7.5vh;
  }
 .signup-input{
    width: 70%;
    font-size: 20px;
    padding: 0vh 1vh;
    display: flex;
    margin: 1vh 7vh 1vh 7.5vh;
    box-sizing: border-box;
    outline: none;
    border-radius: 5px;
    background-color: #00000000;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .signup-input:focus{
    border: 2px solid #7a539a;
  }
  .signup-terms{
    padding: 0vh 2vh 0vh .5vh;
    font-size: 12px;
  }
  #signup-agree{
    margin: 0vh 0vh 0vh 7.5vh;
    width: 12px;
    height: 12px;
  }
  input[type=checkbox]:checked{
    accent-color: #7a539a;
  }
  .signup-button {
    width: 70%;
    font-size: 20px;
    justify-content: center;
    background-color: #7a539a;
    color: white;
    padding: 0vh 1vh;
    display: flex;
    margin: 2vh 7vh 2vh 7.5vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .signup-button:hover {
    background-color: #b55aff;
  }
  a{
    color:#7a539a;
  }
  a:hover{
    color:#b55aff;
  }

  