.Form-box{
    width: 90;
    max-width: 450;
    height: 350px;
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #999;
    padding: 50px 60px 70px;
    text-align: center;
    

}
.Form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #3c00a0;
    position: relative;
}
.Form-box h1::after{
    content: '';
    width: 30px;
    width: 4px;
    border-radius: 3px;
    background: #fff;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);

}
.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;

}
input{
    width: 100%;
    height: 30px;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15 px;
}
.input-field{
    margin-left: 15px;
    color: #000;
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}
.btn-field button{
    flex-basis: 48%;
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;

}
.input_group{
    height: 120px;
}
.btn-field button.disabled{
    background: #eaeaea;
    color: #555;
}